body {
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: Segoe UI
}

/* Header */

header {
    position: sticky;
    top: 0;
    background: var(--color-header);
    padding: 16px;
    box-shadow: 0 2px 8px var(--shadow)
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.status
{
    font-size: 16px;
    color: var(--color-text-sub);
}

/* Toolbar */

.toolbar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sync-group,
.filter-group
.sort-group {
    display: flex;
    gap: 10px;
}

.toolbar-right {
    display: flex;
    gap: 6px;
}

input.search {
    width: 200px;
}

input.sort {
    width: 60px;
}

/* Grid */

#avatarGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-width), 1fr));
    gap: 16px;
    padding: 16px
}

.grid {
    background: var(--color-grid-bg);
    border-radius: 10px;
    padding: 10px
}

.grid-thumbnail
{
    width:100%;
    aspect-ratio:4 / 3;
    height: var(--thumb-height);
    align-items: center;
    background: var(--color-grid-thumb-bg);
    border-radius: 8px;
    margin: 0 auto;
    border-radius: 10px; 
}

.grid-thumbnail-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}

.grid-avatarname
{
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
}

