:root{

    /* Colors */
    --color-bg:#202124;
    --color-header:#303030;
    --color-shadow:#000000;

    --color-border:#bbbbbb;
    --color-border-hover:#eeeeee;

    --color-primary:#4b6cb7;
    --color-active:#4d8cff;
    --color-danger:#d64a4a;

    --color-text:#eeeeee;
    --color-text-sub:#cccccc;

    --color-dialog-bg:#2d2d2d;
    --color-thumb-bg:#2d2d2d;

    --color-grid-bg:#3b3b3b;
    --color-grid-thumb-bg:#666666;
    
    --color-input-bg:#2d2d30;

    /* Radius */
    --radius:8px;

    /* Shadow */
    --shadow:
        0 2px 8px rgba(0,0,0,.25);

    /* Grid */
    --grid-width: 220px;
    --thumb-height: 150px;

    /* Space */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
}

/* Buttons */

button,
input,
select
{
    font-size: 14px;
    height: 32px;
    padding: 6px 12px;
    border-radius: 8px;
}

button
{
    border: none;
    text-align:center;
}

button {
    background: var(--color-primary);
    color: var(--color-primary-sub);
}

button.active {
    background: var(--color-active);
    color: var(--color-primary-sub);
}

button.danger {
    background: var(--color-danger);
}

/* Input */

input,
select {
    background: var(--color-input-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
}

input:hover,
select:hover
{
    border-color: var(--color-border-hover);
}

.select {
    appearance: none;
    padding-right: 36px;
}
